# SQLite
- Creating table and inserting values
- Fetching data

In [1]:
# Creating table and inserting

import sqlite3

connection = sqlite3.connect("myTable.db")

cursor = connection.cursor()

sql_command = """CREATE TABLE students (
id INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(20),
gender CHAR(1),
AGE INTEGER);"""

cursor.execute(sql_command)

sql_command = """INSERT INTO students VALUES (1, "Alex", "Liswandy", "M", 16);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO students VALUES (2, "Bob", "Bee", "M", 17);"""
cursor.execute(sql_command)

sql_command = """INSERT INTO students VALUES (3, "Charlie", "Lee", "M", 14);"""
cursor.execute(sql_command)

connection.commit()

connection.close()

In [4]:
# Fetching data

import sqlite3

connection = sqlite3.connect("myTable.db")

cursor = connection.cursor()

cursor.execute("SELECT fname, lname FROM students")

names = cursor.fetchall()

for name in names:
    print(name[0] + " " + name[1])

Alex Liswandy
Bob Bee
Charles Lee

In [3]:
# Updating data

import sqlite3

connection = sqlite3.connect("myTable.db")

cursor = connection.cursor()

cursor.execute("UPDATE students SET fname = 'Charles' WHERE fname == 'Charlie';")

connection.commit()

connection.close()